.body{
    background-color:  #CFDEFC ;
    padding: 0px;
    margin: 0px;
    background-image: url("../background1.jpg");
    background-attachment: fixed;
    background-size: cover;
    position: relative;
}



.navbar {
    background-color: #FF3644 !important;
    
}
.nav-link{
    color: #ffffff!important;
    font-size: 23px!important; 
}


 
.info{
    text-decoration: none;
    color: #ffffff;
    position: sticky;
    font: normal normal normal 14px/1.4em montserrat,sans-serif;
    font-size: 23px;
}
/* navigation end */
.row{
    justify-content: center;
}
.logo{
    padding-top: 40px;
    text-align: center;
    font-size: 100px;
}

.introduction{
    text-align: center;
    color: #ffffff;
    padding-bottom: 16px;
}

.hello{
    font-size: 30px;
}
@media screen and (max-width: 608px) {
    .hello{
        font-size: 10px;
    }
  }
.different-dep{
    margin: 40px;
    padding: 10px;
    
    
}
.departements{
    display: flex;
    justify-content : center;
    text-align: center;
    margin:0px;
    
    padding: 50px ;
   
}
.departement{
    border-radius: 10px;
    background-color: #ffffff;
    margin-left: 50px;
   
}
.departement:hover{
   
    -webkit-box-shadow: 10px 6px 92px -40px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 6px 92px -40px rgba(0,0,0,0.75);
box-shadow: 10px 6px 92px -40px rgba(0,0,0,0.75);
}
.img{
    display: flex;
    justify-content: center;
    
}
.img-departement{
    width: 200px;
     margin: 10px;
    border-radius: 10px;
    padding: 30px; 
    
    
    
    
}
.nom-departement{
background-color: #FFE772;
text-align: center;
}
.nom_dep{
    color:#000E3B;
    font-size : 20px;
    height: 40px;
    border-radius: 10px;
    border-color:#000E3B ;
    text-decoration: none;
}
.pop-up{
    display: none;
    width: 18%;
    /* position: absolute; */
    /* top : 0;
    left: 0; */
    transform: translate( 0px , -655px );
    transition: ease-in-out;
    transition-duration: 2s;
}
.pop-up1{
    display: none;
    width: 18%;
    /* position: absolute; */
    /* top : 0;
    left: 0; */
    transform: translate(0px , -655px );
    transition: ease-in-out;
    transition-duration: 2s;
}

.pop-up2{
    display: none;
    width: 18%;
    /* position: absolute; */
    /* top : 0;
    left: 0; */
    transform: translate( 2200px, -655px );
    transition: ease-in-out;
    transition-duration: 2s;
}

.pop-up3{
    display: none;
    width: 18%;
    /* position: absolute; */
    /* top : 0;
    left: 0; */
    transform: translate( 2200px , -655px );
    transition: ease-in-out;
    transition-duration: 2s;
}










/* footer begin */

.footer{
    border-top: 1px solid #eef2f2;
    font-size: 20px;
    color:#ffffff ;
    text-align: center;
    padding: 16px 0;
    margin: 0px;
    background-color: #000E3B;
  }
  /* footer end */
  /* ----------------------about---------------------------------------------------------------------- */
.body1{
    background-color: #CFDEFC ;
    margin: 0px;
    padding-bottom: 20px;
    background-image: url("../background1.jpg");
    background-attachment: fixed;
    background-size: cover;
}
.img-ecole{
    display: flex;
    justify-content: center;
    height: 250px;
    margin: 20px;
    /* width: 320px; */
}
.info-ecole1{
   margin: 20px;
   /* background-color:   #FFE772; */
   
}
.info-ecole{
    /* background-color:  #FFE772; */
    margin:20px;
}
.apropos-histo-ecole{
    color: #FF3644;
    font-size: 30px;
}
.information-ecole{
    color:  #ffffff;
    font-size: 23px;
    padding-bottom: 16px;
    margin: 0px;

}
@media screen and (max-width: 700px) {
    .information-ecole{
        font-size: 13px;
    }
  }
.footer1{
    border-top: 1px solid #eef2f2;
    font-size: 20px;
    color: #000E3B;
    text-align: center;
    padding: 16px ;
    margin: 0px;
    background-color:#FFE772;
  }
  /* ---------------------------------------contact begin-------------------------------------------- */
  .diff-contact{
      display: flex;
      flex-direction: column;
  }
  .infor{
      margin: 0px;
      padding: 40px;
  }
  h2{
      color: #FF3644 ;
      font-size: 30px;
  }
  @media screen and (max-width: 608px) {
.diff-contacts{
        font-size: 10px;
        color: #ffffff;
    }
  }
.contact-supcom{
    color: #ffffff;
}
.contact{
    color: #ffffff;
    font-size: 25px;
}
.information-supcom{
    color: #FFE772;
    font-size: 45px;
}
 /* ---------------------------------------------------- */
 